<form class="text-center">
  <div class="form-group">
    <input type="text" class="form-control" placeholder="Default input" id="jobTit">
    <input type="text" class="form-control" placeholder="Default input" id="jobDesc">
    <input type="text" class="form-control" placeholder="Default input" id="jobAdr">
    <input type="text" class="form-control" placeholder="Default input" id="jobState">
    <input type="text" class="form-control" placeholder="Default input" id="jobZip">
  </div>
  <button type="submit" id="addPost" class="btn btn-primary">Submit Post</button>
</form>
