
/*--------------------------------Google Maps Required Testing----------------*/
html, body {
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
}
#map {
  padding: 0;
  margin: 0;
  height: 500px;
  width: 100%;
  border-radius: 20px;
  border: black 1.5px solid;
}

#mapContainer {
  padding: 2em;
  border-radius: 20px;
  border: black 1.5px solid;
  box-shadow: 10px 10px 10px black;
}

a.btn.btn-outline-secondary {
  border-radius: 15px;
  border: 0px;
  color: white;
  text-shadow: 1px 1px 1px black;
}
a.btn.btn-outline-secondary.red {
  color: red;
}
a.navbar-brand {
  color: white;
  font-size: 2rem;
}
.navbar a:not(.btn):not(.dropdown-item) {
  color: white;
}
.font20 {
  font-size: 20px;
}
#pac-input {
  background-color: #fff;
  font-size: 19px;
  font-weight: bold;
  padding: 0 11px 0 13px;
  text-overflow: ellipsis;
  margin: 10px 10px 10px 0px;
  width: 65%;
}
#pac-input:focus {
  border-color: #4d90fe;
}
.margin {
  margin: 20px 0px 20px 0px;
  box-shadow: 10px 10px 10px black;
}
.margin2 {
  margin: 20px 0px 20px 0px;
  box-shadow: 10px 10px 10px black;
}
/*--------------------------------Google Maps Required Testing----------------*/
