/*--------------------------------Google Maps Required Testing----------------*/
#map {
  padding: 0;
  margin: 0;
  height: 500px;
  width: 100%;
  border-radius: 20px;
  border: black 1.5px solid;
}
#mapContainer {
  padding: 2em;
  border-radius: 20px;
  border: black 1.5px solid;
  box-shadow: 10px 10px 10px black;
}
#pac-input {
  font-size: 0px;
  text-overflow: ellipsis;
  margin: 0px 0px 0px 0px;
  width: 0%;
  height: 0%;
}
#pac-input:focus {
  border-color: #4d90fe;
}
/*--------------------------------Google Maps Required Testing----------------*/

body {
  font-family: 'Roboto Condensed', sans-serif;
}

.wrapper {
  /* height: calc(100vh - 100px); */
  min-height:100%;
   position:relative;
}

.navbar {
  position: -webkit-sticky;
  /* Safari */
  position: sticky;
  top: 0;
  background-color: #fff;
  z-index: 2;
}

.navbar-brand {
  font-size: 2rem;
  font-family: 'Ubuntu', sans-serif;
}

/* Dropdown Button */

.dropbtn {
  background-image: url("../images/user.png");
  padding: 16px;
  border: none;
}

/* The container <div> - needed to position the dropdown content */

.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  right: 0;
}

/* Links inside the dropdown */

.dropdown-content a, p {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  margin-bottom: 0;
}

/* Change color of dropdown links on hover */

.dropdown-content a:hover {
  background-color: #ddd
}

/* Show the dropdown menu on hover */

.dropdown:hover .dropdown-content {
  display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */

.dropdown:hover .dropbtn {
  opacity: .7;
}

h1 {
  font-family: 'Raleway', sans-serif;
  font-weight: bold;
}

.float-right {
  float: right;
}

.main-banner {
  background-image: url("../images/main-bg.jpeg");
  background-position: 90% 40%;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 100px;
  color: #fff;
}

.header-text {
  padding: 0px;
  color: #fff;
  width: 40%;
}

.search-keyword {
  width: 28%;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 60px;
  font-size: 1rem;
  background-color: #fff;
  background-image: url("../images/search.png");
  background-position-y: center;
  background-position-x: .5rem;
  background-size: 5%;
  background-repeat: no-repeat;
  padding: 12px 20px 12px 35px;
  position: absolute;
  /* left: 0px; */
  top: 390px;
  z-index: 1;
}

.search-location {
  width: 28%;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 60px;
  font-size: 1rem;
  background-color: #fff;
  background-image: url("../images/map-location.png");
  background-position-y: center;
  background-position-x: .5rem;
  background-size: 5%;
  background-repeat: no-repeat;
  padding: 12px 20px 12px 35px;
  position: absolute;
  margin-left: 29%;
  top: 390px;
  z-index: 1;
}

.search-radius {
  width: 10%;
  background: url(http://i62.tinypic.com/15xvbd5.png) no-repeat 90% 0;
  background-position-y: center;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  padding: 12px 20px 12px 35px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 60px;
  font-size: 1rem;
  background-color: #fff;
  position: absolute;
  margin-left: 58%;
  top: 390px;
  z-index: 1;
}

.search-keyword:focus, .search-location:focus, .search-radius:focus {
  outline: none;
}

.latest-section {
  margin-top: 4%;
  margin-bottom: 10%;
}

.print-post-section {
  margin-top: 1%;
  margin-bottom: 10%;
}

#resultsRecreuiterPageTitleText {
  margin-bottom: 1%;
}

.recruiter-login-text {
  display: inline-block;
}

.search-submit {
  /* border-radius: 60px; */
  font-size: 1rem;
  position: absolute;
  margin-left: 69%;
  top: 395px;
  z-index: 1;
}

.jobRow {
  border-top: 1px solid #ccc;
}

.jobData {
  padding-top: 10px;
  padding-bottom: 10px;
}

table {
  table-layout: fixed;
}

.description-td {
  overflow-x: scroll
  text-overflow: ellipsis;
  white-space: nowrap;
}

.overflow {
  overflow: scroll
}

.padding-table-left {
  padding-left: 30px;
}

.btn-apply {
  background-color: #4CAF50;
  /* Green */
  border: none;
  color: white;
  padding: 10px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: .25rem;
}

.btn-apply:hover {
  opacity: .7;
}

.btn-view {
  background-color: #4CAF50;
  /* Green */
  border: none;
  color: white;
  padding: 10px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: .25rem;
}

.btn-view:hover {
  opacity: .7;
}

.footer {
  background-color: #fff;
  border-top: 1px solid black;
  margin-top: 50px;
  position:absolute;
   bottom:0;
   width:100%;
   /* height:60px;   /* Height of the footer */ */
}

/* Modal */
.img_container {
  text-align: center;
  margin: 24px 0 12px 0;
  position: relative;
}

img.avatar {
    width: 40%;
    border-radius: 50%;
}
